:root{
    --main-color:#1b1b32;
    --text-color:white;
}
*{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
body{
    background-color: var(--main-color);
    color: var(--text-color);
}
h1{
    text-align: center;
}
form{
    width: 30vw;
    margin: 0 auto; 
    text-align: center;
}
form div{
    margin: 3vh 0;
}
form input{
    width: 100%;
    padding: 8px;
}
#checkbox,#plan,#free,#pro{
    width: 2vw;
}
label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.plan,.pro,.free,.check{
    display: inline;
}